

.favorites-placeholder {

    margin-top: 3.5rem;

    background-color: #5f65d52d;
    height: 55lvh;

    font-family: var(--data-display-font);

    border-radius: 0.625rem;
    
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.favorites-placeholder-message {


    font-weight: 300;
    text-align: center;
    font-style: italic;

    color: #ffffffdb;
    
}

.favorites-data-container {

    display: flex;
    flex-direction: column;
    

    color: white;
    border-radius: 0.625rem;

    margin-top: 3.5rem;

    overflow-y: scroll;
}


.favorites-data-container-result {
    display: flex;
    align-items: center;

    background-color: #5e64d41f;

    margin-top: 1rem;
    padding-left: 1.5rem;

    height: 5rem;
    border-radius: 0.625rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    
}

.result-image {
    width: 1.5rem;
    height: 1.5rem;
}

.result-name-price-group {
    display: flex;
    flex-direction: column;

    padding-left: 1rem;
}

.result-coin-name {

    font-family: var(--secondary-font);
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1.25rem;

    margin: 0;
}

.result-coin-price {

    font-family: var(--data-display-font);
    font-weight: 300;
    font-size: 1rem;

    margin: 0;
}

