
.loading-div {

    position: relative;

    width: 100%;
    min-height: 50rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-div-container {
    
    background-color: rgba(255, 255, 255, 0);

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.loading-div-header {

    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: 300;

    color: white;
}

.spinner-svg {

    width: 32px;
    height: 32px;

    animation: 1s infinite spin;
    transform-origin: center;
}

/* keyframes */

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}