


.coindata-section {

    margin-top: 2.5rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;


}

.coindata-header-section {

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.coindata-nameprice-container {

    display: flex;
    align-items: center;
}

.coindata-nameprice-group {

    margin-left: 0.5rem;
}

.coindata-name {

    margin: 0;

    color: white;
    font-family: var(--secondary-font);
    font-size: 1.25rem;
    font-weight: 700;

}

.coindata-price {

    margin: 0;

    margin-top: -0.3rem;

    color: white;
    font-family: var(--data-display-font);
    font-size: 0.75rem;
    font-weight: 300;
}



.coindata-image {

    width: 1.875rem;
    height: 1.875rem;
}

.coindata-daily-change {

    color: white;
    font-family: var(--data-display-font);
    font-size: 0.75rem;

    min-width: 3.75rem;
    min-height: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 1.875rem;
}

.coindata-daily-change-negative {

    background-color: red;
}

