

.search-bar {
    display: flex;
    position: relative;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 1.875rem;
}

.search-input {
    flex: 1;
    height: 2.875rem;
    color: white;

    background-color: var(--search-bar-color);
    background-image: url('../assets/images/search-svg-darkmode.svg');
    background-position: 0.875rem;
    background-size: 1rem 1rem;

    border-top-left-radius: 1.875rem;
    border-bottom-left-radius: 1.875rem;
    border: none;

    font-family: var(--secondary-font);
    font-size: 0.75rem;
    font-weight: 700;

    padding-left: 3rem;
    
}

.search-input::placeholder {
    color: rgba(255, 255, 255, 0.63);
    font-family: var(--secondary-font);
    font-weight: 700;
}

/* remove default focus */
input:focus {
    outline: none;
}


.search-btn {
    margin-left: -1rem;

    border: none;
    cursor: pointer;
    border-radius: 1.875rem;
    width: 6.5rem;

    color: white;
    background-color: var(--search-btn-color-clr);
    
    font-family: var(--primary-font);
    font-size: 1rem;
}

.form-error-message {
    color: red;
    position: absolute;
    top: 2.85rem;
    left: 0.35rem;

    font-family: var(--primary-font);
    font-size: 0.75rem;
    font-weight: 600;
}