@import url(sanitize.css);

:root {

    /* fonts */
    --primary-font: 'Raleway', Trebuchet MS, sans-serif;
    --secondary-font: 'Merriweather', Times New Roman, Times, serif;
    --data-display-font: 'Roboto', Arial, Helvetica, sans-serif;

    /* colours */
    --light-theme-font-clr: #ffffff;

    --darkmode-theme-clr: #121212;
    --lightmode-theme-clr: #2D2D4F;

    --accent-clr: #5F64D5;

    --uptrend-font-clr: #56EF6E;
    --downtrend-font-clr: #FD1717;

    --search-bar-color: #5e64d41f;
    --search-btn-color-clr: #1026ED;
}

/* mobile design */

.hidden {
    display: none !important;
}

.App {
    
    background-color: #2D2D4F;
    width: 100lvw;
    height: 100lvh;
    overflow: hidden;
}

.app-container {

    padding-left: 1.75rem;
    padding-right: 1.75rem;
}

.app-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 0.375rem;
}

.toggle-text {

    color: white;
    font-family: var(--secondary-font);
    font-weight: 300;
    font-size: 0.7rem;
}

.toggle-text-disabled {
    
    font-family: var(--secondary-font);
    font-weight: 300;
    font-size: 0.7rem;
    color: #ffffff35;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  
  .toggle input {
    display: none;
  }
  
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: hsla(237, 58%, 60%, 0.5);
    border-radius: 30px;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";

    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: var(--accent-clr);
    border-radius: 50%;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: hsla(237, 58%, 60%, 0.5);
  }
  
  input:checked + .slider:before {
    transform: translateX(1.875rem);
  }
  
.site-header-centered {
    text-align: center;
    font-family: var(--primary-font);
    font-size: 1.5rem;
    color: var(--light-theme-font-clr);
}

.site-header {
    margin: 0;
    font-family: var(--primary-font);
    font-size: 1.5rem;
    color: var(--light-theme-font-clr);
}

.settings-btn {
    background-image: url('./assets/images/settings-svg.svg');
    background-position: center;
    background-size: cover;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    width: 1.75rem;
    height: 1.75rem;
    cursor: pointer;
}

.settings-btn:focus {
    animation: spin 1s;
}

.find-section-header {

    margin-top: 3.75rem;

    color: white;
    font-family: var(--secondary-font);
    font-weight: 300;
    font-size: 1rem;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}

@media screen and (height >= 750px) {

    .App {

        padding-top: 4.85rem;
    }

}

@media screen and (height > 750px) and (width >= 750px) {
    

    .App {
        
        padding-top: 6rem;
        padding-left: 8rem;
        padding-right: 8rem;
    }
}

@media screen and (orientation: landscape) {

    .App {

        overflow-y: scroll;
    }
}


@media screen and (width >= 1000px) and (height >= 1000px) {

   
    .App {

        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }

    .app-container {

        width: 50%;
        
    }

    
    
}


/* keyframes */

@keyframes spin {
    from {
        rotate: 0deg;
    } to {
        rotate: 360deg;
    }
}